<div class="container bg-light">
<div class="row justify-content-center">

<div class="col-md-auto">
<h2> Regular Torrent Downloads </h2><br>
<img src="https://i.imgur.com/Ax1DmKy.png"><hr>
<h2> Using Our Service </h2> <br>
<img src="https://i.imgur.com/mLO1Xqu.png"><hr>
<h2>Limitation of Regular Torrent Downloading</h2>
<ol>
<li>Limited Bandwidth. Since home internet is so fast and torrents really suck all your bandwidth.
</li>
<li>Due to bandwidth speed limit your download speed will be less, which is effect of torrent trackers settings.
</li>
<li>Need to leave turned on due to slow torrent download speeds.
</li>
<li>If you are on limited bandwidth plan like cellular, it would be very costly.
</li>
<li>No encryption. Your torrent activity can be tracked.
</li>
</ol>
<hr>
<h2>Advantage of Using Our Service</h2>
<ol>
<li>Unlimited Speed to download any torrent.
</li>
<li>You can download on our platform and download the file later.
</li>
<li>Technically you will download over HTTPS instead of using P2P.
</li>
<li>Anonymity.
</li>
<li>No need to leave PC on.
</li>
<li>In most of the cases you speed of downloading will be more than regular.
</li>

</ol>
</div>
</div> 
</div>